
MONGO_URI=mongodb+srv://roppyhoangle:23VLLrCWrJJeqkVe@cluster0.7vqay.mongodb.net/restaurant?retryWrites=true&w=majority
JWT_SECRET=secret
GG_CLIENT_ID=562504444218-up7shkr6un8gcoiuu4h201vnj5ahdvfc.apps.googleusercontent.com
GG_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:3003/api/auth/google/callback
grant_type=authorization_code
FB_CLIENT_ID=1123946355863940
FB_CLIENT_SECRET=2ff9aa6d8d20197da72b0b1a5488b9d4
FB_REDIRECT_URI=http://localhost:3003/api/auth/facebook/callback
MONGO_URI=mongodb+srv://roppyhoangle:23VLLrCWrJJeqkVe@cluster0.7vqay.mongodb.net/restaurant?retryWrites=true&w=majority
ACCESS_TOKEN=access_token
REFRESH_TOKEN=refresh_token
