@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply font-sans text-white;
  background-color: #012b40;
}

h1, h2, h3, h4, h5, h6 th {
  @apply font-restora;
  font-weight: 400
}

button {
  @apply font-poppins uppercase tracking-wide;
}

p {
  @apply font-roboto text-base leading-relaxed;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #FFDEA0 transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #FFDEA0;
  border-radius: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #F5B955;
}

/* Ẩn mũi tên trên input type number - Chrome, Safari, Edge */
input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.no-spinner[type='number'] {
  -moz-appearance: textfield;
}

/* Fix autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #002B40 inset !important;
  -webkit-text-fill-color: white !important;
}